@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

#user-dropdown {
  span {
    color:white;
    display:none;
  }

  .header-avatar {
    height: 40px;
    border-radius: 4px;
    margin-left:10px;
  }
}

.dropdown-menu {
  //padding:0;

  button {
    cursor:pointer;

    &:hover {
      background-color:#0073dd;
      color:white;
    }
  }
}
